doctype html
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/style.css')

    link(rel="stylesheet",type="text/css" href="timeline/timeline.css")
    script(type="text/javascript",src="javascripts/timeline.js")

  body
    block content

  script(src='javascripts/d3.js')
  script(src='javascripts/jquery_min.js')
  script(type='text/javascript', src='javascripts/client.js')


