doctype html
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/style.css')

    //-link(rel="import" href="stylesheets/bower_components/spotify-progressbar/index.html")
    script(type="text/javascript", src="stylesheets/bower_components/platform/platform.js")

    link(rel="import", href="stylesheets/bower_components/paper-progress/paper-progress.html")


  body
    block content
  
  script(src='javascripts/d3.js')
  script(src='javascripts/jquery_min.js')
  script(type='text/javascript', src='javascripts/client.js')
