doctype html
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel="stylesheet",type="text/css" href="js/lib/vis.css")

  body
    block content

  script(type='text/javascript', data-main='app.js',src='js/lib/require.js')
