div.dev{
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
  display: inline-block;
}

div.qa{
  font: 10px sans-serif;
  background-color: red;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
  display: inline-block;
}
#chart{
  background-color: aliceblue;
}

#legend{
  font-size: small;
  margin-left: 80%;
  display: flex;
}

paper-progress::shadow  #activeProgress{
  background-color: #208507;
}

.qa_in_progress{
  background-color: rgb(33, 192, 206);
}


.dev_in_progress{
  background-color: rgb(150, 197, 119);
}


.qa_in_progress_legend::after {
  content: "QA in progress.";
  display: "-webkit-inline-box";
}


.dev_in_progress_legend::after {
  content: "Dev in progress.";
  display: "-webkit-inline-box";
}

.warning_legend::after{
  content: "No Effort Specified."
}
.warning{
 background-color: rgb(248, 113, 6);
}
